## postest2 Kecerdasan buatan

# Agditha Evalyn L 2109106030

## Mengimport library

In [3]:
import pandas as pd
import numpy as np

## membaca data
### menggunakan read_csv agar tertampil

In [6]:
df = pd.read_csv("filmtv_movies - ENG.csv")

## membuat dictionary
#### membuat key dengan ketentuan postest dan value nya menggunakan syntax seperti dibawah ini

In [61]:
##dict

info = {
    'JumlahRecord': df.shape[0],
        'NamaAtribut': df.columns.values,
        'JumlahAtribut(objek)': df.select_dtypes(['object']).columns,
        'JumlahAtribut(Angka)':df.select_dtypes(['float64','int64']).columns,
        'JumlahAtribut(null)':df.loc[:, df.isnull().any()].columns}

## menampilkan informasi

In [62]:
print(" Jumlah Record = ", info['JumlahRecord'])
print("\n Nama Atribut = ", info['NamaAtribut'])
print("\n Nama Atribut(objek) = ", info['JumlahAtribut(objek)'])
print("\n Jumlah Atribut(objek) = ", len(info['JumlahAtribut(objek)']))
print("\n Nama Atribut(Angka) = ", info['JumlahAtribut(Angka)'])
print("\n Jumlah Atribut(Angka) = ", len(info['JumlahAtribut(Angka)']))
print("\n Nama Atribut(null) = ", info['JumlahAtribut(null)'])
print("\n Jumlah Atribut(null) = ", len(info['JumlahAtribut(null)']))

 Jumlah Record =  37711

 Nama Atribut =  ['filmtv_id' 'title' 'year' 'genre' 'duration' 'country' 'directors'
 'actors' 'avg_vote' 'critics_vote' 'public_vote' 'total_votes'
 'description' 'notes' 'humor' 'rhythm' 'effort' 'tension' 'erotism']

 Nama Atribut(objek) =  Index(['title', 'genre', 'country', 'directors', 'actors', 'description',
       'notes'],
      dtype='object')

 Jumlah Atribut(objek) =  7

 Nama Atribut(Angka) =  Index(['filmtv_id', 'year', 'duration', 'critics_vote', 'public_vote',
       'total_votes', 'humor', 'rhythm', 'effort', 'tension', 'erotism'],
      dtype='object')

 Jumlah Atribut(Angka) =  11

 Nama Atribut(null) =  Index(['genre', 'country', 'directors', 'actors', 'critics_vote',
       'public_vote', 'description', 'notes'],
      dtype='object')

 Jumlah Atribut(null) =  8

## menampilkan data 
#### menampilkan data 15 dari bawah

In [ ]:
df.head(15)

,filmtv_id,title,year,genre,duration,country,directors,actors,avg_vote,critics_vote,public_vote,total_votes,description,notes,humor,rhythm,effort,tension,erotism
0,2,Bugs Bunny's Third Movie: 1001 Rabbit Tales,1982,Animation,76,United States,"David Detiege, Art Davis, Bill Perez",NaN,7.7,8.00,7.0,21,"With two protruding front teeth, a slightly sl...","These are many small independent stories, whic...",3,3,0,0,0
1,3,18 anni tra una settimana,1991,Drama,98,Italy,Luigi Perelli,"Kim Rossi Stuart, Simona Cavallari, Ennio Fant...",6.5,6.00,7.0,4,"Samantha, not yet eighteen, leaves the comfort...","Luigi Perelli, the director of the ""Piovra"", o...",0,2,0,2,0
2,17,Ride a Wild Pony,1976,Romantic,91,United States,Don Chaffey,"Michael Craig, John Meillon, Eva Griffith, Gra...",5.6,6.00,5.0,9,"In the Australia of the pioneers, a boy and a ...","""Ecological"" story with a happy ending, not wi...",1,2,1,0,0
3,18,Diner,1982,Comedy,95,United States,Barry Levinson,"Mickey Rourke, Steve Guttenberg, Ellen Barkin,...",7.0,8.00,6.0,18,Five boys from Baltimore have a habit of meeti...,A cast of will be famous for Levinson's direct...,2,2,0,1,2
4,20,A che servono questi quattrini?,1942,Comedy,85,Italy,Esodo Pratelli,"Eduardo De Filippo, Peppino De Filippo, Clelia...",5.9,5.33,7.0,14,"With a stratagem, the penniless and somewhat p...",Taken from the play by Armando Curcio that the...,3,1,1,0,0
5,22,A ciascuno il suo,1967,Drama,93,Italy,Elio Petri,"Gian Maria Volonté, Irene Papas, Gabriele Ferz...",7.7,7.75,8.0,119,Investigations into two murders committed in a...,"Champion of the cinema of civil commitment, El...",0,2,3,3,1
6,23,Dead-Bang,1989,Crime,109,United States,John Frankenheimer,"Don Johnson, Penelope Ann Miller, William Fors...",6.0,6.00,6.0,18,"In the throes of a double murder, Jerry Beck, ...",When it comes to talking about mysterious plot...,0,2,0,2,1
7,24,A... come assassino,1966,Thriller,80,Italy,Ray Morrison (Angelo Dorigo),"Alan Steel, Mary Arden, Sergio Ciani, Ivano Da...",5.5,3.00,8.0,4,After a man's corpse is found by his niece in ...,Approximation and mediocrity in go-go.,1,2,0,1,0
8,26,At Close Range,1986,Drama,115,United States,James Foley,"Christopher Walken, Sean Penn, Chris Penn, Mar...",7.4,7.64,7.0,85,Young Brad (Penn) lives with his grandmother a...,"Powerful and brutal thriller, second work by J...",0,2,1,2,1
9,30,A Ghentar si muore facile,1968,Adventure,101,Italy,Leon Klimovsky,"George Hilton, Ennio Girolami, Marta Padovan, ...",4.8,4.50,5.0,3,An adventurer juggles a dictator and a group o...,NaN,0,2,0,1,0
10,32,Sleeping with the Enemy,1990,Drama,96,United States,Joseph Ruben,"Julia Roberts, Patrick Bergin, Kevin Anderson,...",5.1,4.50,6.0,103,Martin and Laura Burney have been married for ...,"Some twist is actually well placed, but from a...",1,3,2,3,1
11,34,In Bed With Madonna,1990,Documentary,111,United States,Alek Keshishian,"Madonna, Warren Beatty, Sandra Bernhard, Anton...",5.3,4.00,7.0,18,Following the superstar Ciccone we can witness...,Excerpts of the shows and the insistent displa...,1,3,0,0,2
12,36,Bowery at Midnight,1942,Horror,62,United States,Wallace Fox,"Bela Lugosi, John Archer, Wanda McKay, Dave O'...",5.3,5.00,6.0,25,In the infamous New York neighborhood of Bower...,"Defined by critics as shaky, Wallace W. Fox's ...",0,2,1,3,0
13,37,A mezzanotte va la ronda del piacere,1975,Comedy,100,Italy,Marcello Fondato,"Claudia Cardinale, Monica Vitti, Vittorio Gass...",5.9,5.78,6.0,48,"After yet another marital quarrel, Gino disapp...",The film represents an attempt to resurrect th...,2,2,0,0,1
14,38,Mr. Majestyk,1974,Action,105,United States,Richard Fleischer,"Charles Bronson, Linda Cristal, Al Lettieri, L...",6.2,5.67,7.0,24,"A veteran of Vietnam, Vince (Bronson) grows me...",Cliché screenplay (by Elmore Leonard) tailored...,0,3,2,2,0

## menampilkan sesuai dengan ketentuan postest
#### Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka menggunakan df.decribe

In [10]:
df.describe()

,filmtv_id,year,duration,avg_vote,critics_vote,public_vote,total_votes,humor,rhythm,effort,tension,erotism
count,37711.000000,37711.000000,37711.000000,37711.000000,33626.000000,37492.000000,37711.000000,37711.000000,37711.000000,37711.000000,37711.000000,37711.000000
mean,49193.614569,1992.236244,100.644666,5.840516,5.837795,5.963566,35.462968,0.597544,1.422052,0.702395,0.962557,0.301000
std,50167.711560,23.404296,27.061535,1.412866,1.604867,1.490863,65.872978,0.897430,1.120866,1.109600,1.085195,0.614126
min,2.000000,1897.000000,41.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,14750.500000,1975.000000,90.000000,4.900000,4.670000,5.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,32582.000000,2000.000000,96.000000,6.000000,6.000000,6.000000,11.000000,0.000000,2.000000,0.000000,1.000000,0.000000
75%,60294.000000,2012.000000,107.000000,6.900000,7.000000,7.000000,34.000000,1.000000,2.000000,1.000000,2.000000,0.000000
max,207048.000000,2021.000000,1525.000000,10.000000,10.000000,10.000000,1010.000000,5.000000,5.000000,5.000000,5.000000,4.000000

## cek

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37711 entries, 0 to 37710
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   filmtv_id     37711 non-null  int64
 1   title         37711 non-null  object
 2   year          37711 non-null  int64
 3   genre         37623 non-null  object
 4   duration      37711 non-null  int64
 5   country       37702 non-null  object
 6   directors     37682 non-null  object
 7   actors        35843 non-null  object
 8   avg_vote      37711 non-null  float64
 9   critics_vote  33626 non-null  float64
 10  public_vote   37492 non-null  float64
 11  total_votes   37711 non-null  int64
 12  description   36320 non-null  object
 13  notes         18105 non-null  object
 14  humor         37711 non-null  int64
 15  rhythm        37711 non-null  int64
 16  effort        37711 non-null  int64
 17  tension       37711 non-null  int64
 18  erotism       37711 non-null  int64
dtypes: float64(3), int64(9), object(7)
memory usage: 5.5+ MB

## menampilkan korelasi attribute angka

In [14]:
df.corr()

,filmtv_id,year,duration,avg_vote,critics_vote,public_vote,total_votes,humor,rhythm,effort,tension,erotism
filmtv_id,1.000000,0.583116,-0.015282,-0.173899,-0.081084,-0.176586,-0.112175,-0.330455,-0.615136,-0.260138,-0.451071,-0.245492
year,0.583116,1.000000,0.059000,-0.248912,-0.168779,-0.249307,0.059529,-0.158181,-0.316882,-0.094326,-0.275178,-0.082143
duration,-0.015282,0.059000,1.000000,0.141952,0.120627,0.131432,0.181644,0.005692,0.041816,0.131296,0.092290,0.066301
avg_vote,-0.173899,-0.248912,0.141952,1.000000,0.914690,0.891190,0.256943,0.118404,0.192851,0.384355,0.301668,0.092206
critics_vote,-0.081084,-0.168779,0.120627,0.914690,1.000000,0.616518,0.238471,0.099644,0.137962,0.379895,0.264513,0.072919
public_vote,-0.176586,-0.249307,0.131432,0.891190,0.616518,1.000000,0.214171,0.086032,0.166271,0.315107,0.263834,0.072551
total_votes,-0.112175,0.059529,0.181644,0.256943,0.238471,0.214171,1.000000,0.278946,0.317662,0.339203,0.328435,0.218279
humor,-0.330455,-0.158181,0.005692,0.118404,0.099644,0.086032,0.278946,1.000000,0.535359,0.206951,0.111306,0.310166
rhythm,-0.615136,-0.316882,0.041816,0.192851,0.137962,0.166271,0.317662,0.535359,1.000000,0.460053,0.666442,0.362831
effort,-0.260138,-0.094326,0.131296,0.384355,0.379895,0.315107,0.339203,0.206951,0.460053,1.000000,0.507177,0.310976
tension,-0.451071,-0.275178,0.092290,0.301668,0.264513,0.263834,0.328435,0.111306,0.666442,0.507177,1.000000,0.315021
erotism,-0.245492,-0.082143,0.066301,0.092206,0.072919,0.072551,0.218279,0.310166,0.362831,0.310976,0.315021,1.000000

## Menampilkan berupa angka

In [18]:
dita=df.select_dtypes(include=np.number)
dita.head(10)

,filmtv_id,year,duration,avg_vote,critics_vote,public_vote,total_votes,humor,rhythm,effort,tension,erotism
0,2,1982,76,7.7,8.00,7.0,21,3,3,0,0,0
1,3,1991,98,6.5,6.00,7.0,4,0,2,0,2,0
2,17,1976,91,5.6,6.00,5.0,9,1,2,1,0,0
3,18,1982,95,7.0,8.00,6.0,18,2,2,0,1,2
4,20,1942,85,5.9,5.33,7.0,14,3,1,1,0,0
5,22,1967,93,7.7,7.75,8.0,119,0,2,3,3,1
6,23,1989,109,6.0,6.00,6.0,18,0,2,0,2,1
7,24,1966,80,5.5,3.00,8.0,4,1,2,0,1,0
8,26,1986,115,7.4,7.64,7.0,85,0,2,1,2,1
9,30,1968,101,4.8,4.50,5.0,3,0,2,0,1,0

## mengubah nilai salah satu attribute (dari desimal menjadi bilangan bulat).
#### seperti diliat di tabel atas avg vote masi koma dan dibawah berubah menjadi bilangan bulat

In [23]:
df[['avg_vote']] = df [['avg_vote']].astype(int)

In [24]:
df.head(10)

,filmtv_id,title,year,genre,duration,country,directors,actors,avg_vote,critics_vote,public_vote,total_votes,description,notes,humor,rhythm,effort,tension,erotism
0,2,Bugs Bunny's Third Movie: 1001 Rabbit Tales,1982,Animation,76,United States,"David Detiege, Art Davis, Bill Perez",NaN,7,8.00,7.0,21,"With two protruding front teeth, a slightly sl...","These are many small independent stories, whic...",3,3,0,0,0
1,3,18 anni tra una settimana,1991,Drama,98,Italy,Luigi Perelli,"Kim Rossi Stuart, Simona Cavallari, Ennio Fant...",6,6.00,7.0,4,"Samantha, not yet eighteen, leaves the comfort...","Luigi Perelli, the director of the ""Piovra"", o...",0,2,0,2,0
2,17,Ride a Wild Pony,1976,Romantic,91,United States,Don Chaffey,"Michael Craig, John Meillon, Eva Griffith, Gra...",5,6.00,5.0,9,"In the Australia of the pioneers, a boy and a ...","""Ecological"" story with a happy ending, not wi...",1,2,1,0,0
3,18,Diner,1982,Comedy,95,United States,Barry Levinson,"Mickey Rourke, Steve Guttenberg, Ellen Barkin,...",7,8.00,6.0,18,Five boys from Baltimore have a habit of meeti...,A cast of will be famous for Levinson's direct...,2,2,0,1,2
4,20,A che servono questi quattrini?,1942,Comedy,85,Italy,Esodo Pratelli,"Eduardo De Filippo, Peppino De Filippo, Clelia...",5,5.33,7.0,14,"With a stratagem, the penniless and somewhat p...",Taken from the play by Armando Curcio that the...,3,1,1,0,0
5,22,A ciascuno il suo,1967,Drama,93,Italy,Elio Petri,"Gian Maria Volonté, Irene Papas, Gabriele Ferz...",7,7.75,8.0,119,Investigations into two murders committed in a...,"Champion of the cinema of civil commitment, El...",0,2,3,3,1
6,23,Dead-Bang,1989,Crime,109,United States,John Frankenheimer,"Don Johnson, Penelope Ann Miller, William Fors...",6,6.00,6.0,18,"In the throes of a double murder, Jerry Beck, ...",When it comes to talking about mysterious plot...,0,2,0,2,1
7,24,A... come assassino,1966,Thriller,80,Italy,Ray Morrison (Angelo Dorigo),"Alan Steel, Mary Arden, Sergio Ciani, Ivano Da...",5,3.00,8.0,4,After a man's corpse is found by his niece in ...,Approximation and mediocrity in go-go.,1,2,0,1,0
8,26,At Close Range,1986,Drama,115,United States,James Foley,"Christopher Walken, Sean Penn, Chris Penn, Mar...",7,7.64,7.0,85,Young Brad (Penn) lives with his grandmother a...,"Powerful and brutal thriller, second work by J...",0,2,1,2,1
9,30,A Ghentar si muore facile,1968,Adventure,101,Italy,Leon Klimovsky,"George Hilton, Ennio Girolami, Marta Padovan, ...",4,4.50,5.0,3,An adventurer juggles a dictator and a group o...,NaN,0,2,0,1,0

## Tampilkan 10 record pertama dari attribute bertipe angka.

In [64]:
angka=df.select_dtypes(include=np.number)
angka.head(10)

,filmtv_id,year,duration,avg_vote,critics_vote,public_vote,total_votes,humor,rhythm,effort,tension,erotism
0,2,1982,76,7,8.00,7.0,21,3,3,0,0,0
1,3,1991,98,6,6.00,7.0,4,0,2,0,2,0
2,17,1976,91,5,6.00,5.0,9,1,2,1,0,0
3,18,1982,95,7,8.00,6.0,18,2,2,0,1,2
4,20,1942,85,5,5.33,7.0,14,3,1,1,0,0
5,22,1967,93,7,7.75,8.0,119,0,2,3,3,1
6,23,1989,109,6,6.00,6.0,18,0,2,0,2,1
7,24,1966,80,5,3.00,8.0,4,1,2,0,1,0
8,26,1986,115,7,7.64,7.0,85,0,2,1,2,1
9,30,1968,101,4,4.50,5.0,3,0,2,0,1,0

## Simpan dataset dengan attribute bertipe angka ke dalam file CSV.

In [17]:
df[{'filmtv_id','year','duration','avg_vote','critics_vote','public_vote','total_votes','humor','rhythm','effort','tension','erotism'}].to_csv("Film.csv")

C:\Users\Asus\AppData\Local\Temp\ipykernel_5236\659799018.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df[{'filmtv_id','year','duration','avg_vote','critics_vote','public_vote','total_votes','humor','rhythm','effort','tension','erotism'}].to_csv("Film.csv")